bin/
obj/
/packages/

# IDE
.idea/
riderModule.iml
/_ReSharper.Caches/

# AWS
.aws-sam/

# config
appsettings.json
TwitchEverywhere.sln.DotSettings.user
TwitchEverywhereCLI/Properties/launchSettings.json